parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - src/views
    ignoreErrors:
        - '#^Variable \$defaultValues might not be defined\.$#'
        - '#^Variable \$hostPath might not be defined\.$#'